body{
    font-family: Arial;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    height: 100vh;
    grid-gap:5px;
    justify-items: center;
    align-items: center;
  

}

.item{
    background: #9100e3;
    padding: 10px;
    border: 1px solid #673ab799;
    color: white;
}

.item:nth-of-type(5){
    align-self: start;
    justify-self:start;
}
